*, *:before, *:after {
  box-sizing: inherit;
}

.row {
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

body {
	font-family: 'Open Sans', sans-serif;
  font-size: 1em;
	color: #333;
  width: 100%;
	padding: 0;
	margin: 0;
}

a.channelLink {
  color: red;
  margin-bottom: 20px;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #000;
	transition: 0.3s ease;
}

span {
	font-weight: bold;
	color: #5be04a;
}

.footer-fix {
	margin-bottom: 0px;
}

.copyright {
  font-size: .75em;
  color: #333;
}

fieldset {
  border: none;
  text-align: center;
  padding: 0px;
  margin: 0px auto 20px auto;
}

.search-form {
  width: 90%;
	margin: 0 auto;
	padding: 0px;
}

input[type=text]:focus {
	background: #eaeaea; 
	border: 2px solid #666;
}

input[type=text]:visited {
  background: #eaeaea; 
  border: 2px solid #666;
}

button:hover {
	background: #25ce10;
	cursor: pointer;
}

.postedBy {
	font-size: .9em;
}

.searchResult h3 {
  font-family: 'Yantramanav', sans-serif;
	margin: -10px 0px;
}

.errMsg {
  font-size: 1em;
  font-weight: bold;
  color: darkred;
  text-align: center;
}



/* ///////////////////   Mobile defaults   ////////////////////////// */

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  width: 100%;
}

html {
  background: #e1e1e1;
  background-image: none;
}

.hdr-container {
  width: 100%;
  margin: 0px;
  height: 80px;
  position: fixed;
  top: 0px;
  right: 0px;
  background: url(img/type.png) repeat;
  z-index: 2;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

main {
  padding: 15px;
  margin: 75px auto 50px auto;
  width: 100%;
  background: none;
  position: relative;
}

h2 {
  font-family: 'Yantramanav', sans-serif;
  padding-top: 20px;
  color: #333;
  border-bottom: 4px dotted #333;
  width: 90%;
}


input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 85%;
  padding: 12px;
  font-size: 1.1em;
  background: #eaeaea;
  border: none;
  border-radius: 5px;
  margin: 20px 20px 0px 5px;
  border: 1px solid #e1e1e1;
}

button {
  padding: 12px;
  margin-left: 5px;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 3px;
  background: #40a334;
  color: #000;
  border: 1px solid #25ce10;
  transition: all 0.3s ease;
}

header h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: -35px;
  margin-top: 0px;
  font-family: 'Yantramanav', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 2px #444;
}

header p {
  font-size: 1.2em;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #444;
}

.lyrix {
    width: 100%;
    overflow-wrap: normal;
    padding: 5px;
    margin: 0;
}

.lyrix h3{
    margin-bottom: -18px;
}

.byName {
  font-size: .85em;
}

.videoThumbnail {
  width: 95%;
  border-radius: 5px;
  border: 1px solid #555;
}

footer {
  width: 100%;
  padding: 7px 0px;
  margin: 0px;
  text-align: center;
  background: #00000099;
  color: #fff;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}

footer p {
  font-size: .7em;
}




/* ///////////////////   Non-mobile   //////////////////////////  */

@media only screen and (min-width: 840px) {
   .col-1 {width: 8.33%;}
   .col-2 {width: 16.666667%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.666667%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.666667%;}
   .col-9 {widows: 75%;}
   .col-10 {width: 83.3%;}
   .col-11 {width: 91.666667%;}
   .col-12 {width: 100%;}
  
    html {
        background: url(img/vertical_cloth_@2X.png);
        background-repeat: repeat;
      }

  .hdr-container {
    width: 100%;
    margin: 0px;
    height: 90px;
    position: fixed;
    top: 0px;
    right: 0px;
    background: url(img/type.png) repeat;
    z-index: 2;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
  }

  .lyrix {
    padding: 15px 10px 10px 10px;
    margin-top: 15px;
    overflow-wrap: normal;
    background: #e1e1e1;
    border-radius: 4px;
  }

  .vidz {
    padding-left: 10px;
  }

  main {
    padding: 20px;
    margin: 80px auto 60px auto;
    width: 100%;
    position: relative;
    background: none;
    max-width: 1000px;
  }

  h2 {
    font-family: 'Yantramanav', sans-serif;
    padding: 25px 0px 0px 20px;
    color: #fff;
    border: none;
}

  input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px;
    font-size: 1.1em;
    background: #eaeaea;
    border: none;
    border-radius: 5px;
    margin: 20px 20px 10px 5px;
    border: 1px solid #e1e1e1;
  }

  button {
    padding: 12px;
    margin-left: 50px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 3px;
    background: #40a334;
    color: #000;
    border: 1px solid #25ce10;
    transition: all 0.3s ease;
  }

  header {
  	max-width: 1000px;
	  padding: 10px 20px 20px 0px;
    margin: 0px auto;
  }

  header h1 {
    display: inline-block;
    float: left;
    font-size: 3.5em;
    padding-left: 40px;
    margin-bottom: -45px;
    margin-top: 0px;
    font-family: 'Yantramanav', sans-serif;
	  color: #fff;
	  text-shadow: 2px 2px 2px #444;
  }

  header p {
    display: inline-block;
    padding-right: 40px;
    margin-top: 10px;
    float: right;
    font-size: 1.8em;
    color: #fff;
    text-shadow: 2px 2px 2px #444;
  }

  .searchResult {
    padding: 10px;
    margin-bottom: 10px;
    background: #f2f2f2;
    border-radius: 5px;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
  }

  .videoThumbnail {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #555;
  }

  footer {
    width: 100%;
    padding: 7px 0px;
  	margin: 0px;
  	text-align: center;
  	background: #00000099;
  	color: #fff;
  	position: fixed;
  	bottom: 0px;
  	right: 0px;
    z-index: 2;
  }

  footer p {
    font-size: 1em;
  }

}

